* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 10px;
    padding: 10px;
    border: 1px solid black;    
    height: calc(100vh - 20px);
}

ul{
    list-style: none;
}

/* HEADER */
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    background-color: #d2e9cc;
    position: fixed;
    top: 22px;
    left: 22px;
    right: 22px;
}
header img{
    height: 50px;
    width: auto;
}
header nav ul{
    display: flex;
    gap: 15px;
}

/* main */
main{
    padding: 10px 5px;
    position: fixed;
    top: 96px;
    bottom: 96px;
    left: 22px;
    right: 22px;
    /* margin-top: 96px;
    margin-bottom: 96px;
    height: 80vh; */
    overflow: scroll;
}

main img{
    float: left;
    margin: 10px;
    margin-right: 20px;
    height: 200px;
    width: auto;
}


/* FOOT */
footer{
    background-color: #d2e9cc;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 10px;
    position: fixed;
    bottom: 22px;
    left: 22px;
    right: 22px;
}
footer nav ul{
    display: flex;
    gap: 15px;
}

footer .span{
    width: 70%;
    background-color: red;
}