* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    height: calc(100vh - 20px);
}

ul {
    list-style: none;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #d2e9cc;
    position: fixed;
    top: 22px;
    left: 22px;
    right: 22px;
}

header img {
    height: 50px;
    width: auto;
}

header nav ul {
    display: flex;
    gap: 15px;
}

/* main */
main {
    position: fixed;
    top: 112px;
    bottom: 96px;
    left: 22px;
    right: 22px;
    border: 1px solid black;

}

main img {
    float: left;
    margin: 10px;
    margin-right: 20px;
    height: 200px;
    width: auto;
}

main .div {
    padding: 10px;
    position: fixed;
    top: 112px;
    bottom: 96px;
    left: 22px;
    right: 22px;
    margin: 10px;
    overflow: scroll;
    border: 1px solid black;
}

main .div2 img {
    float: right;
    margin: 10px;
    margin-right: 20px;
    height: 200px;
    width: auto;
}

main .div2 {
    padding: 10px;
    position: fixed;
    top: 112px;
    bottom: 96px;
    left: 22px;
    right: 22px;
    margin: 10px;
    overflow: scroll;
    border: 1px solid black;
}

/* 4th layout */
.cuartoL {
    background-color: #d9ead3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.fila {
    display: flex;
    justify-content: space-around;
}

.flex1 {
    margin: 10px;
    height: 30vh;
    width: 48%;
    background-color: #cfe2f3;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    
}

.flex2 {
    margin: 10px;
    height: 30vh;
    width: 48%;
    background-color: #cfe2f3;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.flex3 {
    height: 30vh;
    margin: 10px;
    width: 98%;
    background-color: #cfe2f3;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

/* 5ft layout */
#quintol {
    display: flex;
    background-color: #d5e8d4;
    border: 1px solid #d5e8d4   ;
}

#quintol div {
    margin: 10px;
    border: 1px solid black;
}

.sidebar {
    width: 300px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 30px;
    background-color: #d5e8d4;
    border-right: 1px solid black;

}

.sidebar nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.quinto-contenido {
    width: calc(100% - 300px);
    display: flex;
    gap: 15px;
    overflow: scroll;
    flex-wrap: wrap;
    padding: 15px;
    background-color: #d5e8d4;
    border: 1px solid #d5e8d4;
    
}

.quinto-contenido #flex {
    height: 200px;
    width: 200px;
    background-color: #cfe2f3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid #d5e8d4;
    

}


/* FOOT */
footer {
    background-color: #d2e9cc;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 10px;
    position: fixed;
    bottom: 22px;
    left: 22px;
    right: 22px;
}

footer nav ul {
    display: flex;
    gap: 15px;
}

footer .span {
    width: 70%;
    background-color: red;
}